#title {
    text-align: center;
    flex: 2;
}

#comments {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment {
    padding: 2px;
    border-bottom: solid 1px darkgray;
    width: max-content;
    max-width: 80vw;
}

.btn {
    background-color: rgb(247, 234, 215);
    border-radius: 10px;
    border: none;
    padding: 4px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(247, 223, 191);
}

#edit {
    width: 100px;
    height: 30px;
    border: solid 1px darkgray;
    margin-right: 5px;
}

#title-bar {
    display: flex;
    align-items: center;
}

#categories {
    display: flex;
    gap: 5px;
    padding: 5px
}

#categories h3 {
    border: solid 3px rgb(247, 234, 215);
    border-radius: 10px;
    padding: 2px;
    font-weight: inherit;
    margin: 0;
}

#edit-wrap, #left-title-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px gray;
}

#body {
    width: 50vw;
}

#body-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 24.5vw;
}

#info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment-form {
    display: flex;
    gap: 5px;
}

#post-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}

#post-comment {
    height: 100%;
}