.btn {
    background-color: rgb(247, 234, 215);
    border-radius: 10px;
    border: none;
    padding: 4px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(247, 223, 191);
}

body {
    margin: 0;
}

#content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#main {
    width: 100vw;
    height: 30vh;
    box-sizing: border-box;
    border-bottom: solid darkgray 1px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
    align-items: center;
}

#main-title {
    text-align: center;
    margin: 0;
}

#main-body{
    margin: 0;
    height: 25vh;
    text-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    max-height: 25vh;
    overflow: scroll;
    width: 50vw;
}

#second {
    height: 100%;
    width: 100vw;
    display: flex;
}

#stories {
    flex: 2;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

#side-bar {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    gap: 40px;
    width: 30vw;
}

.page-select-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 20px;
    margin-top: 20px;
}

.story {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid goldenrod 1px;
    padding: 5px;
    box-sizing: border-box;
}

#new-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-article {
    height: 30px;
    font-size: x-large;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

#categories {
    display: flex;
    gap: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

.category {
    border: solid 1px goldenrod;
    border-radius: 5px;
    height: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 5px;
    width: max-content;
}

.category:hover {
    cursor: pointer;
}

.active, .category:hover {
    background: antiquewhite;
    border: 2px solid goldenrod;
}

.remove {
    border-color: black;
}

.remove:hover {
    background: lightgray;
    border-color: black;
}