.fancy {
    font-family: cursive;
}

#login {
    background-color: rgb(247, 234, 215);
    border-radius: 10px;
    border: none;
    padding: 4px;
}

#login:hover {
    cursor: pointer;
    background-color: rgb(247, 223, 191);
}

#logo {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    height: inherit;
    margin: 0;
}

#navbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.title:hover {
    cursor: pointer;
}

#ad-banner {
    width: 100%;
    height: 15px;
    display: flex;
    padding: 5px;
    align-items: center;
    overflow: hidden;
    border-bottom: solid darkgray 1px;
}

.scroll {
    text-align: right;
    width: 50%;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
